<div>

    <h1>Student Manager</h1>

    <h3>Create</h3>

    <form (ngSubmit)="create()" #studenForm="ngForm">

        <label>
            User ID:
            <input type="text" [(ngModel)]="student.user" name="user" required />
        </label>

        <label>
            Course ID:
            <input type="text" [(ngModel)]="student.course" name="course" required />
        </label>

        <select name="Shift" id="">
            <option value="MORNING">Morning</option>
            <option value="AFTERNOON">Afternoon</option>
            <option value="NIGHT">Night</option>
        </select>

        <button type="submit"> Create </button>

    </form>

</div>