<div>

    <h1>User Details</h1>

    <h3>Info:</h3>
    
    <div *ngIf="user">
        <p><strong>ID:</strong> {{ user.id }}</p>        
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Password:</strong> {{ user.password }}</p>
    </div>

    <h3>Edit:</h3>
    <form (ngSubmit)="update()" #userForm="ngForm" *ngIf="user">
        
        <div>
            <label>
                Name:
                <input type="text" [(ngModel)]="user.name" name="name" required />
            </label>
        </div>

        <!-- <div>
            <label>
                Password:
                <input type="password" [(ngModel)]="user.password" name="password" required />
            </label>
        </div> -->

        <div>
            <button type="submit" [disabled]="!userForm.form.valid">Edit</button>
        </div>

        <div>
            <button [routerLink]="['/admin/user']">Back</button>
        </div>

    </form>

</div>
